body{
 background:linear-gradient(to bottom, grey, brown);
 margin:auto;
 padding:10rem;
}
h1{
 color:#000;
 font-size:2.5rem;
 padding-top:1rem;
}
.tela{
 background:linear-gradient(to bottom, green, blue);
 text-align:center;
 align-items:center;
 margin:auto;
 width:25rem;
 height:20rem;
 border-radius:20px;
 box-shadow:5px 5px 3px rgba(0,0,0,1);
}
.escolha{
 align-items:center;
 text-align:center;
 margin:auto;
 padding:2rem;
 font:sans-serif;
 width:15rem;
}
.iniciar{
 background-color:grey;
 border-radius:20px;
 background:linear-gradient(5deg, #a3a3a3, #000);
}
.iniciar:hover{
 box-shadow:5px 5px 3px rgba(0,0,0,5);
 border:solid 1px black;
}
.avatar{
 border-radius:20px;
 background:linear-gradient(5deg, #a3a3a3, #000);
}
.avatar:hover{
 box-shadow:5px 5px 3px rgba(0,0,0,5);
 border:solid 1px black;
}
.config{
 background-color:grey;
 border-radius:20px;
 background:linear-gradient(5deg, #a3a3a3, #000);
}
.config:hover{
 box-shadow:5px 5px 3px rgba(0,0,0,5);
 border:solid 1px black;
}
.start{
 font-size:35px;
 color:green;
 cursor:pointer;
}
