body{
 background-color:grey;
 padding:10rem;
 padding-top:5rem;
 margin:0px;
}
h1{
 color:#000;
 font-size:2.5rem;
 padding-top:1rem;
}
.tela{
 background:linear-gradient(to bottom, green, blue);
 text-align:center;
 align-items:center;
 margin:auto;
 width:25rem;
 height:20rem;
 border-radius:20px;
 box-shadow:5px 5px 3px rgba(0,0,0,1);
}
.escolha{
 align-items:center;
 text-align:center;
 margin:auto;
 padding:0.1rem;
 font:sans-serif;
 width:16rem;
}
.iniciar{
 border-radius:5px;
 background:linear-gradient(5deg, #a3a3a3, #000);
 margin:2rem;
 padding:0.2rem;
}
.iniciar:hover{
 box-shadow:5px 5px 3px rgba(0,0,0,5);
 border:solid 1px black;
}
.avatar{
 border-radius:5px;
 background:linear-gradient(5deg, #a3a3a3, #000);
 margin:2rem;
 padding:0.2rem;
}
.avatar:hover{
 box-shadow:5px 5px 3px rgba(0,0,0,5);
 border:solid 1px black;
}
.config{
 border-radius:5px;
 background:linear-gradient(5deg, #a3a3a3, #000);
 margin:2rem;
 padding:0.2rem;
}
.config:hover{
 box-shadow:5px 5px 3px rgba(0,0,0,5);
 border:solid 1px black;
}
.start{
 font-size:35px;
 color:green;
 cursor:pointer;
}
.name{
 font-size:20px;
 color:rgb(0,0,0);
}
.img{
padding:0.5rem;
border:solid 1px black;
text-align: center;
align-items: center;
}
