body{
background:linear-gradient(to bottom, grey, brown);
 margin:auto;
 padding:10rem;
}
.tela{
 background:linear-gradient(to bottom, green, blue);
 text-align:center;
 align-items:center;
 margin:auto;
 width:20rem;
 height:20rem;
}
.escolha{
 align-items:center;
 text-align:center;
 margin:auto;
 padding:4rem;
 font:sans-serif;
 width:12rem;	
}
.iniciar{
 background-color:grey;
 border:solid 1px black;
}
.avatar{
 background-color:grey;
 border:solid 1px black;
}
.config{
 background-color:grey;
 border:solid 1px black;
}
